
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .form-container {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>
<body>
    <%- include('./header.ejs') %> 
<%- include('./left.ejs') %>
  <div class="container">
    <div class="form-container">
      <h2>Company Details</h2>
      <form method="post">
        <div class="form-group">
          <label for="companyName">Company Name</label>
          <input type="text" class="form-control" value="<%= compdata.companyName %>" name="companyName" placeholder="Enter company name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" value="<%= compdata.email %>"  name="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="phoneNumber">Location</label>
          <input type="text" class="form-control"value="<%= compdata.Location %>"  name="Location" placeholder="Enter phone number">
        </div>
        <div class="form-group">
            <label for="phoneNumber">Phone Number</label>
            <input type="Number" class="form-control"value="<%= compdata.Number %>"  name="Number" placeholder="Enter phone number">
          </div>
        <div class="form-group">
          <label for="fileUpload">Upload Company Documents</label>
          <input type="File" class="form-control-file"value="<%= compdata.companyName %>"  name="image">
          <small id="fileHelp" class="form-text text-muted">Upload documents related to your company.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>


